@import '../../variables.css';

.socialMedia {
  margin-top: 1.8rem;
  text-align: center;
}
.icon {
  width: 2rem;
  height: 2rem;
  color: white;
  margin: 0.3rem;
  padding: 0.4rem;
  border: 1px solid white;
  border-radius: 3rem;
}

.icon:hover {
  color: var(--Soft-Magenta);
  border: 1px solid var(--Soft-Magenta);
  transition: all 0.3s ease;
}

@media only screen and (min-width: 768px) {
  .socialMedia {
    margin-top: 2rem;
    text-align: right;
  }
}
