@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  /* Primary Colors */

  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);

  /* Typography */
  --headings-font: 'Poppins', sans-serif;
  --headings-font-600: 'Poppins', sans-serif;
  --body-font: 'Open Sans', sans-serif;
}
